pytest==8.0.0          # Главный фреймворк (запускатор) тестов
playwright==1.41.2     # Самый современный инструмент для UI тестов
requests==2.31.0       # Классика для API тестов
jsonschema==4.21.1     # Для валидации контрактов (JSON Schema)
allure-pytest==2.13.2  # Для красивых отчетов
faker==23.2.0          # Для генерации случайных email, имен и паролей
pytest-bdd==7.1.2